<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.toptaxi.ataxibooking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseHouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PayTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WishActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.LoginPhoneActivity" />
        <activity android:name=".activities.LoginGetTokenActivity" />
        <activity android:name=".activities.ChooseOnMapActivity" />
        <activity android:name=".activities.HisOrdersActivity"></activity>
    </application>

</manifest>